version: '3'

services:
  # ==============================
  # API 网关 (Nginx)
  # ==============================
  # 职责：
  # 1. 统一对外暴露端口 (8888)
  # 2. 反向代理到宿主机运行的 Go 服务 (通过 host.docker.internal)
  # 3. 静态资源托管 (前端文件)
  nginx-gateway:
    image: nginx:1.21-alpine
    container_name: io-gateway
    restart: always
    privileged: true
    environment:
      TZ: Asia/Shanghai
    ports:
      - "8888:8081" # 浏览器访问 http://localhost:8888
    volumes:
      - ./deploy/nginx/conf.d:/etc/nginx/conf.d
      - ./deploy/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./data/nginx/log:/var/log/nginx
    # -----------------------------------------------------------
    # 核心配置：打通容器与宿主机网络
    # -----------------------------------------------------------
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - polaris-net

  polaris-io:
    image: lyumikael/gomodd:v1.22.1
    container_name: polaris-io
    environment:
      TZ: Asia/Shanghai
      GOPROXY: https://goproxy.cn,direct
    working_dir: /go/polaris-io
    volumes:
      - .:/go/polaris-io
    privileged: true
    restart: always
    networks:
      - polaris-net

# ==============================
# 网络配置
# ==============================
# 关键：声明使用外部已存在的网络 (由 env 文件创建)
networks:
   polaris-net:
    external: true
    name: polaris-net