Clusters:
  - Input: # 进货：从Kafka读
      Kafka:
        Name: gostash
        Brokers:
          - "kafka:9092"
        Topics:
          - polaris-log
        Group: pro
        Consumers: 16
    Filters: # 加工：清洗流水线
      - Action: drop # 丢弃无用日志
        Conditions:
          - Key: k8s_container_name
            Value: "-rpc"
            Type: contains
          - Key: level
            Value: info
            Type: match
            Op: and
      - Action: remove_field # 移除无用字段
        Fields:
          # - message
          - _source
          - _type
          - _score
          - _id
          - "@version"
          - topic
          - index
          - beat
          - docker_container
          - offset
          - prospector
          - source
          - stream
          - "@metadata"
      - Action: transfer # 格式转换
        Field: message
        Target: data
    Output: # 出货：存入Elasticsearch
      ElasticSearch:
        Hosts:
          - "http://elasticsearch:9200"
        Index: "polaris-{{yyyy-MM-dd}}"